<header class="bg-white shadow-sm px-8">
  <div class="max-w-[1440px] mx-auto grid grid-cols-3 items-center gap-x-2">
    <nav class="h-min">
      <ul class="flex items-center gap-8">
        <li>
          <a routerLink="/home" class="block py-1 text-lg hover:text-red-500">
            Inicio
          </a>
        </li>
        <li>
          <a routerLink="/authors" class="block py-1 text-lg hover:text-red-500">
            Autores
          </a>
        </li>
        <li *ngIf="user && user.permissions!.includes('author')">
          <a routerLink="/create-post" class="block py-1 text-lg hover:text-red-500">
            Crear Post
          </a>
        </li>
      </ul>
    </nav>
    
    <div class="py-4 flex items-center justify-center">
      <h1 class="text-2xl">
        <a routerLink="/home">The Reviewer Blog</a>
      </h1>
    </div>

    <div *ngIf="!user; else userBlock" class="flex justify-end">
      <ul class="flex items-center gap-4">
        <li>
          <a routerLink="/login" class="block py-1 hover:text-red-500">
            Ingresar
          </a>
        </li>
        <li>
          <a routerLink="/register" class="block py-1 hover:text-red-500">
            Registrarse
          </a>
        </li>
      </ul>
    </div>
    
    <ng-template #userBlock>
      <div class="flex justify-end">
        <ul class="flex items-center gap-8">
          <li>
            <button  type="button" (click)="logout()" class="block w-full py-1.5 hover:text-red-500">
              Salir
            </button>
          </li>
          <li>
            <a routerLink="/settings" class="block py-1.5 hover:text-red-500">
              Opciones
            </a>
          </li>
          <li>
            <a [routerLink]="profilePath" class="py-1.5 flex gap-2 items-center hover:text-red-500">
              <span class="">{{user!.name}}</span>
              <img [src]="user!.imageUrl" alt="avatar" class="text-sm w-10 h-10 object-contain rounded-full">
            </a>
          </li>
        </ul>
      </div>
    </ng-template>
  </div>
</header>