<footer class="absolute bottom-0 w-full pt-4 pb-16 px-4 bg-white shadow-sm border-t border-neutral-200">
  <div class="max-w-[1440px] mx-auto grid grid-cols-4">
    <div>
      <h2>
        <a routerLink="/home" class="block py-1 text-lg font-bold">
          The Reviewer Blog
        </a>
      </h2>
    </div>
  
    <div>
      <ul>
        <li>
          <a routerLink="/home" class="block py-1">
            Inicio
          </a>
        </li>
        <li>
          <a routerLink="/autores" class="block py-1">
            Autores
          </a>
        </li>
      </ul>
    </div>
  
    <div>
      <h3 class="my-1">
        Redes Sociales:
      </h3>
  
      <ul>
        <li>
          <a href="" class="block py-1" target="_blank">
            Twitter
          </a>
        </li>
        <li>
          <a href="" class="block py-1" target="_blank">
            Instagram
          </a>
        </li>
        <li>
          <a href="" class="block py-1" target="_blank">
            Facebook
          </a>
        </li>
      </ul>
    </div>

    <div>
      <h3 class="my-1">Creado por Mercado Hector</h3>
      <div class="font-bold text-sm">mercadohectordw@gmail.com</div>
      <br>
      <a href="" class="">Repo en Github</a>
    </div>
  </div>
</footer>